@import '_variables.scss';

// body{
//   background-color: $body-color;
// }
.navbar {
  background-color: $navbar-color;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 10px;

}

.button{
  color: inherit;
  text-decoration: inherit;
}

.signOutButton{
  grid-column: 6 / 6;
  color: inherit;
  text-decoration: inherit;
}

.chat{
  background-color: #0048AA;
  width: 275px;
  height: 100%;
}

.displayChat{
  background-color: #999;
  display: flex;
  flex-grow: 1;
}