@import '_variables.scss';

// body{
//   background-color: $body-color;
// }
.navbar {
  background-color: $navbar-color;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 10px;

}

.button{
  color: inherit;
  text-decoration: inherit;
}

.eventSearchButton {
  background-color: red;
}




.signOutButton{
  grid-column: 6 / 6;
  color: inherit;
  text-decoration: inherit;
}

.testButtonColor{
  background-color: black;
}